@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: ui-sans-serif, system-ui, sans-serif, "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  box-sizing: border-box;
}

@layer components {
  .btn-primary {
    @apply shadow-md focus:outline-none focus:ring focus:bg-yellow-50 focus:ring-opacity-75 rounded-md border border-transparent bg-indigo-600  text-center font-medium text-white hover:bg-indigo-700 cursor-pointer;
  }
}
